/*Themes*/

.RBMenuBtn{
	background: inherit;
	border: 1px gray solid;
}
.RBThemeVanilla{
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.RBThemeWhiteThatch{
	background:
	linear-gradient(27deg, #FAFAFA 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #FAFAFA 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #f2f2f2 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #f2f2f2 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #F8F8F8 10px, transparent 10px),
	linear-gradient(#f8f8f8 25%, #F8F8F8 25%, #F8F8F8 50%, transparent 50%, transparent 75%, #fbfbfb 75%, #fbfbfb);
	background-color: #ffffff;
	background-size: 16px 16px;
}

.RBThemeSoftBlue{
	background: rgba(222,242,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(222,242,255,1) 0%, rgba(134,174,204,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(222,242,255,1)), color-stop(100%, rgba(134,174,204,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(222,242,255,1) 0%, rgba(134,174,204,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(222,242,255,1) 0%, rgba(134,174,204,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(222,242,255,1) 0%, rgba(134,174,204,1) 100%);
	background: radial-gradient(ellipse at center, rgba(222,242,255,1) 0%, rgba(134,174,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#def2ff', endColorstr='#86aecc', GradientType=1 );
}

.RBThemeLoudOrange{
	background: rgba(241,231,103,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}

#RBThemeHidden{
	display: none;
}

#RBThemeWrap{
  margin: 5px;
  float: left;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#RBThemeLabel{
	width: 10%;
	float: left;
	margin-top: 3px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

/*Font Sizes*/

#RBFontSizeWrap{
  margin: 5px;
  float: left;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#RBFontSizeLabel{
	width: 10%;
	float: left;
	margin-top: 3px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.RBFontSizeSmall{
	font-size: 30px !important;
}

.RBFontSizeMedium{
	font-size: 40px !important;
}

.RBFontSizeLarge{
	font-size: 50px !important;
}

.RBFontSizeExtraLarge{
	font-size: 60px !important;
}
/*Main*/
.SRactive{
	color: red !important;
}
#SRinactive{

	border: 1px solid #a9a9a9;
	border-radius: 5px;
  position: relative;
  float: left;
	width: 450px;
	text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
  letter-spacing: .5px;

}

.SRwrap,.SRactive{
	color: #2e2e2e;
	font-size: 30px;
}
#RBMain{
	position: relative;
	float: left;
}
#RBWrap {
	position: fixed;
	top: 0; 
	left: 50%;
	z-index: 333333;
	margin-top: 25px;
  	font-family: Arial, Helvetica, sans-serif;
	
}
.SRinactive.unpause:after,.SRinactive.unpause:before{
  display: none;
}
#RBMenu{
  width: 449px;
  background: #fafafa;
  border-radius: 5px;
  border-top-left-radius:0px;
  border-top-right-radius: 0px;
  margin-left:1px;
	float: left;
	clear: left;
	font-size: 12px;
	display: none;
}

.wpmWrap{
  margin: 5px;
  float: left;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.wpmLabel{
	width: 10%;
float: left;
margin-top: 3px;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;

}
#wpmController{
	width: 70%;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  font-size: 12px;
}

#RBConfigurationBtn{
  z-index: 999999;
  position: relative;
right: 30px;
bottom: -235px;
  font-size:34px;
  display: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
